.image {
  background-image: url('../../assets/Profile.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-repeat: no-repeat; 
  filter: grayscale(100%);
  transition: filter 1s ease-in; /* Apply transition here */
}
.image1 {
  background-image: url('../../assets/Profile.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-repeat: no-repeat; 
  height: 50vh;
}

@media (max-width: 1000px) {
  .image {
    height: 60vh;
  }
}

@media (width>600px) {
  .image1 {
    display:none;
  }
  
}


.image:hover {
  filter: grayscale(0%);
}

.aboutMe{
  background: radial-gradient(
    circle at 50% -70%,
    rgb(117, 58, 163) 15%,
    rgb(36, 43, 61) 50%,
    rgb(26, 22, 29) 100%
    );
}